@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    background-color: #8e6186;
    font-family: 'Muli', sans-serif;
}

/* NAV BAR */

.header {
    position: relative;

    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    /* idk i like the arrow more on the top but yeah
    padding: .5rem;
    gap: 1rem;
    */
}

.dropbtn {
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown.active>.dropbtn,
.dropbtn:hover,
.arrow:hover {
    /* disappearing transition */
    /* border: #AD310B;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear; */

    border: solid rgb(232, 172, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.dropdown {
    position: absolute;
}

.dropdown-content {
    position: absolute;
    top: calc(100% + .5rem);
    background-color: rgb(254, 236, 255);
    padding: .75rem;
    border-radius: .5rem;
    box-shadow: 0.5px 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active>.dropbtn+.dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    /* Centers the dropdown content (without this, it shifts to the right) */
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;

    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(1, max-content);
    gap: .5rem;
    padding: 5px;
}

.dropdown-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
}

.dropdown-links a {
    color: rgb(58, 37, 88);
    /* font-size: 16px; */
    padding: 7px 7px;
    text-decoration: none;
    display: block;
}

.dropdown-links a:hover {
    background-color: #fee3ff;
    color: rgb(118, 69, 135);
    border-radius: 15px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.arrow:before {
    position: absolute;
    content: '';
    top: -3px;
    right: -6px;
    left: -3px;
    bottom: -6px;
    /* this helps us see the clickable area of the arrow */
    /* outline: 1px solid red; */
    z-index: 40;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* SEARCH BAR */

.searchbar {

    width: 100%;

    display: grid;
    place-items: center;

    margin: 0;
    position: absolute;
    top: 20%;
}

.input-field {

    text-align: center;
    /* position: absolute; */

    height: 40px;
    background-color: whitesmoke;
    opacity: 0.35;
    width: 40%;
    border-radius: 15px;
    border: none;
    filter: drop-shadow(30px 10px 4px #6d3749);

} 


ul {
    display: none;
}

#rec_list {
    display: block;
}

#rec_list, #list {
    /* -ms-transform: translateY(80%);
    transform: translateY(80%); */
    /* place-items: left; */
    width: 40%;
    list-style-type: none;
    padding: 0;
    margin: 1;
}

#list li a, #rec_list li a {
    /* filter: drop-shadow(30px 10px 4px #6d3749); */
    border: 1px solid rgb(215, 168, 219);
    margin-top: -1px; /* Prevent double borders */
    background-color: #e49feb34;
    padding: 6px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block
}

#rec_list li a {
    background-color: #bb9feb34;
}

#list li a:hover, #rec_list li a:hover {
    filter: drop-shadow(20px 10px 3px #6d3749);
    background-color: #e16bee34;
}

.rounded-top {
    border-radius: 10px 10px 0 0;    
}

.rounded-bottom {
    border-radius: 0 0 10px 10px;    
}

.round-boi {
    border-radius: 10px;
}

.help-wrapper {
    display: grid;
    justify-content: center;
    
}

