@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    background-color: #8e6186;
    font-family: 'Muli', sans-serif;
    /* overflow: hidden; */
}

/* BACKGROUND */

#bg {
    margin: 0;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;

    filter: blur(0px) opacity(80%);
}

/* NAV BAR */

.header {
    position: relative;

    /* background-color: inherit; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.dropbtn {
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;

}

.dropdown.active>.dropbtn,
.dropbtn:hover,
.arrow:hover {
    /* disappearing transition */
    /* border: #AD310B;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear; */

    border: solid rgb(154, 115, 170);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.dropdown {
    position: absolute;
}

.dropdown-content {
    position: absolute;
    top: calc(100% + .5rem);
    background-color: rgba(254, 236, 255, 0.8);
    padding: .75rem;
    border-radius: .5rem;
    box-shadow: 0.5px 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out, transform 250ms ease-in-out;
    z-index: 100;
}

.dropdown.active>.dropbtn+.dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    /* Centers the dropdown content (without this, it shifts to the right) */
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;

    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(1, max-content);
    gap: .5rem;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.dropdown-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
}

.dropdown-links a {
    color: rgb(58, 37, 88);
    /* font-size: 16px; */
    padding: 7px 7px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

.dropdown-links a:hover {
    background-color: #fee3ff62;
    color: rgb(118, 69, 135);
    border-radius: 15px;
    background-position: 0 11px;

}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.arrow:before {
    position: absolute;
    content: '';
    top: -3px;
    right: -6px;
    left: -3px;
    bottom: -6px;
    /* this helps us see the clickable area of the arrow */
    /* outline: 1px solid red; */
    z-index: 40;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

  .dropdown-links a {
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, rgb(118, 69, 135), #000 60%, rgb(0, 0, 0) 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.3s ease-out;
    white-space: nowrap;
  }
  
  span.dropdown-span {
    position: relative;
  }
  
  span.dropdown-span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2.6px;
    background: rgb(93, 60, 100, 0.7);
    bottom: 6px;
    border-radius: 20px;
    transition: all 0.2s ease-out;
  }

  span.dropdown-span:hover:before {
    transform: translateY(6px)
  }

/* SEARCH BAR */

.searchbar {

    width: 100%;

    display: grid;
    place-items: center;

    margin: 0;
    position: absolute;
    top: 20%;
}

.input-field {

    text-align: center;
    /* position: absolute; */

    height: 40px;
    background-color: whitesmoke;
    opacity: 0.35;
    width: 40%;
    border-radius: 15px;
    border: none;
    filter: drop-shadow(30px 10px 4px #6d3749);

} 

/* SEARCH RESULTS */

#list {
    display: none;
}

#rec_list {
    display: block;
}

#rec_list, #list {
    /* -ms-transform: translateY(80%);
    transform: translateY(80%); */
    /* place-items: left; */
    width: 40%;
    list-style-type: none;
    padding: 0;
    margin: 1;
}

#list li a, #rec_list li a {
    /* filter: drop-shadow(30px 10px 4px #6d3749); */
    border: 1px solid rgba(255, 144, 218, 0.459);
    margin-top: -1px; /* Prevent double borders */
    background-color: #eeaac475;
    padding: 6px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block
}

#rec_list li a {
    background-color: #d3bdfa34;
}

#list li a:hover, #rec_list li a:hover {
    filter: drop-shadow(20px 10px 3px #6d3749) opacity(80%);
    background-color: #e16bee34;
}

.rounded-top {
    border-radius: 10px 10px 0 0;    
}

.rounded-bottom {
    border-radius: 0 0 10px 10px;    
}

.round-boi {
    border-radius: 10px;
}

.help-wrapper {
    display: grid;
    justify-content: center;
    
}

.rec-table {
    margin-top: 20px;
    max-width: 100%;

    display: inherit;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding-bottom: 8px;

}

.rec-table table {
    border-collapse: collapse;
    text-align: left;
    /* overflow: hidden; */
}
  
.rec-table thead {
    box-shadow: 0 5px 10px gray;
}

.rec-table th {
    padding: 1rem 2rem;
    padding-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;

    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }

.rec-table td {
    padding: 0.5rem 2rem;
}

.rec-link a {
    text-decoration: none;
    color: black;
}

.rec-link a:hover {
    color:#541b96;
}

td.rec-link:hover {
    background-color:rgb(154, 115, 170, 0.5);
    /* border-radius: 10px; */
}



/* ABOUT PAGE */

p.about-desc {
    white-space: pre-line;
    margin: 0;
    color: rgb(0, 0, 0);
    /* display: inline-block;
    text-align: left; */
}

.media-buttons {
    list-style-type: none;
    padding: 0px;
}

a.media-button {
    text-decoration: none;
}

a.media-button:hover {
    color: rgb(102, 107, 156);
}

.about-me {
    display: grid;
    place-items: center;
    text-align: center;
}

.about-site {
    width: clamp(400px, 50%, 800px);
    padding: 1rem;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 15px;
    
}

.about-content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: clamp(180px, 90%, 1000px);
    text-align: center;
}

.about-people {
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 15px;
    padding: 7px;
}

.about-name {
    width: 100%;
}

#purple-gradient-text {
    background: linear-gradient(
    to right, 
    rgb(74, 61, 92), 
    rgb(63, 0, 47)
    );
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

#gradient-text {
    background: linear-gradient(
    to right, 
    rgb(0, 17, 255),
    rgb(255, 94, 82)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-header {
    display: inherit;
    justify-content: center;
    text-align: center;
}

h4.about-contact {
    margin-bottom: -6px;
}

.about-paragraph {
    display: inherit;
    justify-content: center;
    text-align: center;
}

.about-list {
    display: inline-block;
    text-align: left;
    margin: 0px;
    list-style-type: "▶ ";

    color: rgb(0, 0, 0);

    /* display: inherit;
    justify-content: center;
    text-align: center;
    padding: 0px;
    list-style-position: inside; */
}

.about-list li::marker {
    color: rgb(71, 37, 85);
}


/* HELP */

.grid-center {
    display: grid;
    place-items: center;
    text-align: center;
}

.help-wrapper {
    width: clamp(400px, 90%, 1200px);
    padding: 1rem;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 15px;
}

.help-content {
    margin-top: -10px;
}

.help-content p {
    white-space: pre-line;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */    
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

p.help-paragraph {
    text-align: left;
}

.discord-header {
    margin-bottom: 5px;
}

.discord-icon:hover {
    color: rgb(105, 56, 56);
}

/* Error page */

.error {
    display: grid;
    place-items: center;
    text-align: center;
}

.error h1 {
    /* width: clamp(400px, 90%, 1200px); */
    padding: 1rem;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 15px;

    top: 1%;
    position: absolute;
}

.img {
    position: absolute;
    top: 20%;
    margin: 5px;
}

#meme {
    max-width: clamp(100px, 90%, 300px);
    height: auto;
}

/* info page */

h2.k-title {
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 15px;
    padding: 0.7rem;
    margin-top: 25px;

}

.k-stats ul, .k-details ul {
    display: inline-block;
    text-align: left;
    margin: 0px;
    list-style-type: "▶ ";
    color: rgb(0, 0, 0);
}

.kdrama-info {
    display: grid;
    place-items: center;
    text-align: center;
}
.k-content {
    background-color: rgba(256, 256, 256, 0.4);
    width: clamp(180px, 90%, 1000px);
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 15px;
    display: inherit;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    text-align: center;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(154, 115, 170);
    border-radius: 6px;
    outline: none;
}

.button:hover {
    background-color: rgb(113, 95, 156);
}

.k-details a {
    text-decoration: none;
    color:#ffffff;
}

/* .k-details a:hover {
    color:#ffcbe9;
} */