{% extends "layout.html" %}

{% block title %} help {% endblock %}

{% block stylesheet %} 
<link rel="stylesheet" href="..\static\styles.css" />
{% endblock %}

{% block script %}
<script src="..\static\main.js" defer></script>
{% endblock %}

{% block body %}

<div class="help-wrapper">
    <div class="help-header">
        <h1>You need help ?</h1>
        <p>Welp there isnt really much to explain... but here we go</p>
    </div>

    <div class="help-content">
        <h3>What is the purpose of this Website?</h3>
        <p>quick explanation: you type in a kdrama and you get recommendations for the next one to watch.</p>
    </div>

</div>


{% endblock %}