{% extends "layout.html" %}

{% block title %} home {% endblock %}

{% block script %}
<script src="..\static\main.js" defer></script>
{% endblock %}

{% block body %}

<!-- SEARCH BAR -->
<form id="form" autocomplete="off" action="/search" method="get">
  <div class="searchbar">
    <input type="text" id="user_input" onkeyup="searchFunction()" class="input-field" name="input" placeholder="Pick your poison!" kdrama-search />
    <ul id='list'>
      {% for title in titles %}
      <li class="k-title"><a href="/search?input={{ title }}"> {{ title }} </a></li>
      {% endfor %}
    </ul>
  </div>
</form>




<!--
<table class="table">
  <caption>kdrama search</caption>
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Kdrama</th>
    <th scope="col">Rating</th>
    <th scope="col">Year</th>
    <th scope="col">Description</th>
    </tr>
  </thead>
<tbody>
-->

{% endblock %}