{% extends "layout.html" %}

{% block title %} home {% endblock %}

{% block stylesheet %} 
<link rel="stylesheet" href="..\static\styles.css" />
{% endblock %}

{% block script %}
<script src="..\static\main.js" defer></script>
{% endblock %}

{% block body %}
<!-- SEARCH BAR -->
<form action="/recommend.py" method="get">
  <div class="searchbar">
    <input type="text" class="input-field" placeholder="Pick your poison!" kdrama-search />
    <input type="submit" value="Submit">
  </div>
</form>
{% endblock %}