{% extends "layout.html" %}

{% block title %} login {% endblock %}

{% block script %}
<link rel="stylesheet" href="..\static\login.css" />


<script src="..\static\scripts\login.js" defer></script>
{% endblock %}

{% block body %}

<form class="login-form" action="#" method="POST">
    <h3>Login</h3>

    <label class="login-label" for="username">Username</label>
    <input class="login-input" type="text" placeholder="Username" name="username" autocomplete="off" required pattern=".{3,}">

    <label class="login-label" for="password">Password</label>
    <input class="login-input" type="password" placeholder="Password" name="password" autocomplete="off" required pattern=".{8,}">

    <!-- flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages%}
          {% for msg in messages %}
              <p class="sign-alert">{{msg}}</p>
          {% endfor %}
      {% endif %}
    {% endwith %}

    <button class="login-btn">Login</button>
    <a class="signup" href="/signup">Sign up</a>
</form>


<!--
<div class="container">
    <form action="#" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input class="button" type="submit" value="login">
    </form>
</div
>-->


{% endblock %}