{% extends "layout.html" %}

{% block title %} search {% endblock %}

{% block script %}
<script src="..\static\main.js" defer></script>
{% endblock %}

{% block body %}
<!-- SEARCH BAR -->
<form id="form" autocomplete="off" action="/search" method="get">
  <div class="searchbar">
    <input type="text" id="user_input" onkeyup="searchFunction()" class="input-field" name="input" placeholder="{{ title }}" kdrama-search />
    <div class="rec-table">
      <table aria-describedby="table of recommended kdrama">
          <!-- headers (title, rank, score, similarity score)-->
          <tr>
            {% for col_name in rec_list %}
              <th> {{ col_name }} </th>
            {% endfor %}
          </tr>

          <!-- kdrama infos -->
          {% for i in range(9) %}
          <tr>
            {% for col_name in rec_list %}
            <td> {{ rec_list[col_name][i] }} </td>
            {% endfor %}
          </tr>
          {% endfor %}
          
      </table>
    </div>


    <ul id='list'>
      {% for title in titles %}
      <li class="k-title"><a href="/search?input={{ title }}"> {{ title }} </a></li>
      {% endfor %}
    </ul>


  </div>
</form>

{% endblock %}