{% extends "layout.html" %}

{% block title %} login {% endblock %}

{% block script %}
{% endblock %}

{% block body %}

<!-- flashed messages -->
{% with messages = get_flashed_messages() %}
    {% if messages%}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<p>welcome {{username}}</p>

<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter Email" value="{{ email if email}}">
    <input type="submit" name="submit">
</form>

{% endblock %}